$colors: (
    black: #000,
    black-haze: #f8f9f9,
    buttercup: #f5a623,
    dusty-gray: #9b9b9b,
    edward: #9fa8a4,
    jungle-green: #2ba59d,
    mercury: #e5e5e5,
    pampas: #f4f2ec,
    porcelain: #f7f8f9,
    red: #f50000,
    santas-gray: #9f9fa4,
    ship-gray: #424244,
    soft-peach: #fcf9f9,
    spun-pearl: #ababaf,
    tundora: #4a4a4a,
    white: #fff
);



